.page-header
  %h1 Log In


= form_tag sessions_path do
  = input_for :email
  = input_for :password
  = input_for :remember_me, :check_box_tag

  = input_for 'Log In', :submit_tag

= link_to 'Forgotten password?', new_password_reset_path, class:'btn btn-primary'